# Predicting survival from titanic crash

In [53]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [54]:
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [55]:
X = df[["Pclass", "Age", "Sex", "Fare"]]
y = df['Survived']

In [56]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [57]:
inputs = df.drop('Survived',axis='columns')
target = df['Survived']

In [58]:
#inputs.Sex = inputs.Sex.map({'male': 1, 'female': 2})

In [59]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [60]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

**I am dropping male column as well because of dummy variable trap theory. One column is enough to repressent male vs female**

In [61]:
inputs.drop(['Sex'],axis='columns',inplace=True)
inputs

     Pclass   Age     Fare  female  male
0         3  22.0   7.2500       0     1
1         1  38.0  71.2833       1     0
2         3  26.0   7.9250       1     0
3         1  35.0  53.1000       1     0
4         3  35.0   8.0500       0     1
..      ...   ...      ...     ...   ...
886       2  27.0  13.0000       0     1
887       1  19.0  30.0000       1     0
888       3   NaN  23.4500       1     0
889       1  26.0  30.0000       0     1
890       3  32.0   7.7500       0     1

[891 rows x 5 columns]

In [62]:
inputs

     Pclass   Age     Fare  female  male
0         3  22.0   7.2500       0     1
1         1  38.0  71.2833       1     0
2         3  26.0   7.9250       1     0
3         1  35.0  53.1000       1     0
4         3  35.0   8.0500       0     1
..      ...   ...      ...     ...   ...
886       2  27.0  13.0000       0     1
887       1  19.0  30.0000       1     0
888       3   NaN  23.4500       1     0
889       1  26.0  30.0000       0     1
890       3  32.0   7.7500       0     1

[891 rows x 5 columns]

In [63]:
inputs.Age.min()

0.42

In [64]:
inputs.Age.max()

80.0

In [65]:
df["Survived"][df.Age == df.Age.max()]

630    1
Name: Survived, dtype: int64

In [66]:
df[df.Age == df.Age.max()]

     Pclass   Sex   Age  Fare  Survived
630       1  male  80.0  30.0         1

In [67]:
891 - 714

177

In [68]:
print(inputs.Age.mean())
print(inputs.Age.median())

29.69911764705882
28.0

In [69]:
inputs.Age.std()

14.526497332334044

In [70]:
inputs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  891 non-null    int64
 1   Age     714 non-null    float64
 2   Fare    891 non-null    float64
 3   female  891 non-null    uint8
 4   male    891 non-null    uint8
dtypes: float64(2), int64(1), uint8(2)
memory usage: 22.8 KB

In [71]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [72]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [73]:
inputs.Age.min()

0.42

In [74]:
inputs.Age.max()

80.0

In [75]:
inputs.describe()

           Pclass         Age        Fare      female        male
count  891.000000  714.000000  891.000000  891.000000  891.000000
mean     2.308642   29.699118   32.204208    0.352413    0.647587
std      0.836071   14.526497   49.693429    0.477990    0.477990
min      1.000000    0.420000    0.000000    0.000000    0.000000
25%      2.000000   20.125000    7.910400    0.000000    0.000000
50%      3.000000   28.000000   14.454200    0.000000    1.000000
75%      3.000000   38.000000   31.000000    1.000000    1.000000
max      3.000000   80.000000  512.329200    1.000000    1.000000

In [76]:
sum(inputs.Fare[inputs.Pclass == 1])*1000

18177412.499999985

In [77]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [78]:
inputs.describe()

           Pclass         Age        Fare      female        male
count  891.000000  891.000000  891.000000  891.000000  891.000000
mean     2.308642   29.699118   32.204208    0.352413    0.647587
std      0.836071   13.002015   49.693429    0.477990    0.477990
min      1.000000    0.420000    0.000000    0.000000    0.000000
25%      2.000000   22.000000    7.910400    0.000000    0.000000
50%      3.000000   29.699118   14.454200    0.000000    1.000000
75%      3.000000   35.000000   31.000000    1.000000    1.000000
max      3.000000   80.000000  512.329200    1.000000    1.000000

In [79]:
inputs.columns

Index(['Pclass', 'Age', 'Fare', 'female', 'male'], dtype='object')

In [80]:
for i in inputs.columns:
    print(len(inputs[i].unique()))

3
89
248
2
2

In [81]:
print(abs(inputs.Age.min() -  inputs.Age.max()) )

79.58

In [82]:
print(abs(inputs.Fare.min() -  inputs.Fare.max()) )

512.3292

In [83]:
for i in range(len(inputs)):
    inputs.Fare[i] = inputs.Fare[i]/ inputs.Fare.max()
inputs

C:\Users\youssef\AppData\Local\Temp\ipykernel_13604\126318042.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputs.Fare[i] = inputs.Fare[i]/ inputs.Fare.max()

     Pclass        Age      Fare  female  male
0         3  22.000000  0.014151       0     1
1         1  38.000000  0.139136       1     0
2         3  26.000000  0.015469       1     0
3         1  35.000000  0.103644       1     0
4         3  35.000000  0.015713       0     1
..      ...        ...       ...     ...   ...
886       2  27.000000  0.433333       0     1
887       1  19.000000  1.000000       1     0
888       3  29.699118  0.781667       1     0
889       1  26.000000  1.000000       0     1
890       3  32.000000  1.000000       0     1

[891 rows x 5 columns]

In [84]:
for i in range(len(inputs)):
    inputs.Age[i] = inputs.Age[i]/ inputs.Age.max()
inputs

C:\Users\youssef\AppData\Local\Temp\ipykernel_13604\3891950216.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputs.Age[i] = inputs.Age[i]/ inputs.Age.max()

     Pclass       Age      Fare  female  male
0         3  0.275000  0.014151       0     1
1         1  0.475000  0.139136       1     0
2         3  0.325000  0.015469       1     0
3         1  0.437500  0.103644       1     0
4         3  0.437500  0.015713       0     1
..      ...       ...       ...     ...   ...
886       2  0.843750  0.433333       0     1
887       1  0.593750  1.000000       1     0
888       3  0.928097  0.781667       1     0
889       1  0.812500  1.000000       0     1
890       3  1.000000  1.000000       0     1

[891 rows x 5 columns]

In [85]:
inputs.Fare

0      0.014151
1      0.139136
2      0.015469
3      0.103644
4      0.015713
         ...
886    0.433333
887    1.000000
888    0.781667
889    1.000000
890    1.000000
Name: Fare, Length: 891, dtype: float64

In [86]:
inputs

     Pclass       Age      Fare  female  male
0         3  0.275000  0.014151       0     1
1         1  0.475000  0.139136       1     0
2         3  0.325000  0.015469       1     0
3         1  0.437500  0.103644       1     0
4         3  0.437500  0.015713       0     1
..      ...       ...       ...     ...   ...
886       2  0.843750  0.433333       0     1
887       1  0.593750  1.000000       1     0
888       3  0.928097  0.781667       1     0
889       1  0.812500  1.000000       0     1
890       3  1.000000  1.000000       0     1

[891 rows x 5 columns]

In [87]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [88]:
from sklearn.naive_bayes import GaussianNB # binary classification 
model = GaussianNB()

In [89]:
model.fit(X_train,y_train)

GaussianNB()

In [90]:
model.score(X_test,y_test)

0.7486033519553073

In [91]:
model.score(X_train,y_train)

0.7879213483146067

In [92]:
X_test[0:10]

     Pclass       Age      Fare  female  male
321       3  0.337500  0.015412       0     1
505       1  0.225000  0.212559       0     1
81        3  0.362500  0.018543       0     1
842       1  0.405405  0.188031       1     0
670       2  0.540541  0.076123       1     0
258       1  0.437500  1.000000       1     0
858       3  0.428571  0.231586       1     0
25        3  0.475000  0.061264       1     0
776       3  0.401339  0.036671       0     1
156       3  0.200000  0.015094       1     0

In [93]:
y_test[0:10]

321    0
505    0
81     1
842    1
670    1
258    1
858    1
25     1
776    0
156    1
Name: Survived, dtype: int64

In [94]:
model.predict(X_test[0:10])

array([0, 0, 0, 1, 1, 1, 1, 1, 0, 1], dtype=int64)

In [95]:
model.predict_proba(X_test[:10])

array([[9.88127726e-01, 1.18722740e-02],
       [8.38151297e-01, 1.61848703e-01],
       [9.88450858e-01, 1.15491421e-02],
       [4.18683090e-03, 9.95813169e-01],
       [2.37283903e-02, 9.76271610e-01],
       [1.38301551e-12, 1.00000000e+00],
       [1.82243541e-02, 9.81775646e-01],
       [4.63914029e-02, 9.53608597e-01],
       [9.88864989e-01, 1.11350110e-02],
       [3.52780837e-02, 9.64721916e-01]])

**Calculate the score using cross validation**

In [96]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, y_train, cv=10)

array([0.77777778, 0.72222222, 0.76056338, 0.8028169 , 0.84507042,
       0.78873239, 0.74647887, 0.8028169 , 0.85915493, 0.77464789])